.input-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-input-field {
    padding: 6px;
    font-size: 20px;
    width: 300px;
    margin-right: 20px; 
    
}

.name-input-field {
    padding: 6px;
    font-size: 20px;
    margin-right: 20px;
}

.add-btn {
    padding: 0px 3px;
    font-size: 25px;
    font-family: 'Indie Flower';
    letter-spacing: 3px;
    font-weight: 900;
    cursor: pointer;
}

.delete-input-text {
    color: gray;
    position: absolute;
    left: 47.7%;
    top: 15.8%;
    font-size: 23px;
    cursor: pointer;
}

.delete-input-name {
    color: gray;
    position: absolute;
    top: 15.8%;
    left: 63.2%;
    font-size: 23px;
    cursor: pointer;
}

.select {

    font-size: 15px;
  
}

.select-area {
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.show {
    font-family: "Indian Flower";
    font-size: 25px;
    color: goldenrod;
    margin-right: 40px;
    letter-spacing: 2px;
    font-weight: 800;
}

.all-section, .completed-section, .uncompleted-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-box, .completed-box, .uncompleted-box {
    width: 10px;
    height: 10px;
    border: 1px solid goldenrod;
    margin-right: 7px;
    cursor: pointer;
    position: relative;
}

.boxtext {
    margin-right: 40px;
    color: goldenrod;
    font-size: 15px;
    letter-spacing: 1px;
}

.boxcheck {
    color: green;
    margin-bottom: 10px;
    font-size: 33px;
    position: absolute;
    top: -140%;
    left: -100%;
}