.task-input-field {
    padding: 6px;
    font-size: 20px;
    width: 300px;
    margin-right: 20px; 
 
}

.name-input-field {
    padding: 6px;
    font-size: 20px;
    margin-right: 20px;

}

.add-btn {
    padding: 0px 3px;
    font-size: 25px;
    font-family: 'Indie Flower';
    letter-spacing: 3px;
    font-weight: 900;
    cursor: pointer;
}

.delete-input-text {
    color: gray;
    position: absolute;
    left: 47.7%;
    top: 15.8%;
    font-size: 23px;
    cursor: pointer;
}

.delete-input-name {
    color: gray;
    position: absolute;
    top: 15.8%;
    left: 63.2%;
    font-size: 23px;
    cursor: pointer;
}