@font-face {
    font-family: "Indian Flower";
    src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
      
}

.task {
    font-family: "Indian Flower";
    font-size: 35px;
    letter-spacing: 3px;
    width: 300px;
    color: goldenrod;
}

.name {
    font-family: "Indian Flower";
    width: 320px;
    font-size: 35px;
    letter-spacing: 3px;
    color: goldenrod;

}

.delete-btn {
    background-color: red;
    border: none;
    border-radius: 5px;
    font-family: "Indian Flower";
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    color: white;
    margin-right: 10px;
}

.edit-btn {
    background-color: green;
    border: none;
    border-radius: 5px;
    font-family: "Indian Flower";
    font-size: 25px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    color: white;
    margin-right: 20px;

}



.checkmark {
    color: green;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

.point {
    color: goldenrod;
    font-size: 30px;
    cursor: pointer;
    margin-right: 30px;
  
}

.linethrough {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
 
   
}