@font-face {
    font-family: "Indian Flower";
    src: url('../assets/fonts/IndieFlower-Regular.ttf');
}

.card-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center; 
    margin-bottom: 30px;  

}

.task {
    font-family: "Indian Flower";
    font-size: 30px;
    letter-spacing: 3px;
    width: 280px;
    color: goldenrod;   
    margin-right: 30px;
}

.name {
    font-family: "Indian Flower";
    width: 200px;
    font-size: 30px;
    letter-spacing: 3px;
    color: goldenrod;
}

.delete-btn {
    background-color: red;
    border: none;
    border-radius: 5px;
    font-family: "Indian Flower";
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    color: white;
    margin-right: 15px;
}

.trash {
    margin-right: 5px;
}

.edit-btn {
    background-color: green;
    border: none;
    border-radius: 5px;
    font-family: "Indian Flower";
    font-size: 22px;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 6px;
    cursor: pointer;
    color: white;
    margin-right: 20px;
}

.edit {
    margin-right: 7px; 
}

.checkmark {
    color: green;
    font-size: 30px;
    cursor: pointer;
    margin-right: 35px;
}

.point {
    color: goldenrod;
    font-size: 30px;
    cursor: pointer;
    margin-right: 35px; 
}

.linethrough {
    text-decoration: line-through;
    text-decoration-thickness: 3px;  
}

@media screen and (max-width: 430px) {
    .card-wrapper {
        margin-top: 10px;
        width: 92%;
       
    }

    .task {
        width: 160px;
        font-size: 15px;
     
    }

    .name {
        width: 130px;
        font-size: 15px;
      
    }

    .edit-btn, .delete-btn {
        font-size: 15px;
   
    }

    .point, .checkmark {
        font-size: 18px;
        margin-right: 10px;
        
    }

    .linethrough {
        text-decoration-thickness: 1px;  
    }

    .edit, .trash {
        visibility: hidden;
        position: absolute;
        top: - 1000px;
    }
}